@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Inter", sans-serif;
  background-color: "bg-primary-200";
}

@layer utilities{
  .h1-nav{
    @apply sm:text-[36px] font-bold text-[24px]
  }

  .flex-center{
    @apply flex justify-center items-center
  }

  .flex-between{
    @apply flex justify-between items-center
  }

  .flex-between-small{

  }

  .centered-card{
    @apply flex flex-col gap-[14px] items-center justify-center text-center
  }




}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}